<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Face2Issy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Rubik:700" rel="stylesheet">
</head>
<body class="container">
    <header></header>
    <main>
        <h1>Your Face</h1>
        <div>
            <img src="{{url_for('send_image', filename=image_name)}}" class="outputContainer" >
        </div>
        <div>
                <form method="POST" action="/upload" enctype=multipart/form-data class="center" id="top">
                    <input type="file" name="image" id="file" class="inputFile">
                    <label for="file">Choose a file</label> <br>
                    <input type="submit" value="GO AGAIN" class="submit">
                </form>
        </div>
    </main>
    <footer>About</footer>
    <script src="static/main.js"></script>
</body>
</html>